<%= yield%>
<main>
  <div class="main posts-new">
    <div class="container">
      <h1 class="form-heading">管理者専用</h1>
      <h1 class="form-heading">投稿する</h1>
      <%= form_tag("/posts/create")do %>
        <div class="form">
          <div class="form-body">
            <textarea name="content"></textarea>
            <input type="submit" value="投稿">
          </div>
        </div>
      <%end%>
    </div>
  </div>
  
  <div class="main posts-edit">
    <div class="container">
      <h1 class="form-heading">編集する</h1>
        <% @posts.each do |post| %>
          <div class="posts-index-item">
            <%= post.content%>
            <%= link_to("編集", "/posts/#{post.id}/edit") %>
            <%= link_to("削除", "/posts/#{post.id}/destroy", {method:"post"})%>
          </div>
        <% end %>
    </div>
  </div>

</main>

<footer>
  <h1>2Fish and 5Breads</h1>
  <h2>愛知県知多郡美浜町河和</h2>
  <h2>℡００００００００００</h2>
  <p>Copywrite @2Fish and 5Breads
</footer>

</body>
</html>